<!-- Footer html  -->

<footer class="footer">
    <div class="footer-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <h5 style="font-weight: bold;">{{footer.footer_section.footer_menu[0].title}}</h5>
            <p>
              <a href="#" class="footer-social" style="text-decoration: none;color: rgb(255, 106, 47);"><i
                  class="fa fa-facebook-square"></i>{{footer.footer_section.footer_menu[0].multi_line[0]}}</a>
            </p>
            <p>
              <a href="#" class="footer-social" style="text-decoration: none; color: rgb(255, 106, 47);"><i
                  class="fa fa-twitter-square"></i>{{footer.footer_section.footer_menu[0].multi_line[1]}}</a>
            </p>
          </div>
          <div class="col-sm-6 col-md-4">
            <h5 style="font-weight: bold;">{{footer.footer_section.footer_menu[1].title}}</h5>
            <address>
              {{footer.footer_section.footer_menu[1].multi_line[0]}}
              <p>
                <a style="text-decoration: none;color: rgb(255, 106, 47);"
                  href="mailto:info@marketing.com">{{footer.footer_section.footer_menu[1].multi_line[1]}}</a>
              </p>
            </address>
          </div>
          <div class="col-sm-6 col-md-4">
            <h5 style="font-weight: bold;">{{footer.footer_section.footer_menu[2].title}}</h5>
            <p>
              {{footer.footer_section.footer_menu[2].multi_line[0]}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright"
      style="text-align: center; background-color: #41424b; padding: 15px 0;margin: 20px 0 0;">
      <span>
        <p style="color: aliceblue;">
          {{footer.multi_line}}
        </p>
      </span>
    </div>
  </footer>